.disney__header{
    height: 70px;
    background: #090b13;
    display: flex;
    align-items: center;
    padding: 0 36px;
}
.header__logo{
    width: 80px;
}
.header__menu{
    display: flex;
    flex: 1;
    margin-left: 25px;
    align-items: center;
}
.header__menuObject{
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}
.header__menuObjectLogo{
    height: 20px;
}
.header__menuObjectLabel{
    font-size: 13px;
    letter-spacing: 1.42px;
    position: relative;
}
.header__menuObjectLabel::after{
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    bottom: -6px;
    opacity: 0;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.45, 0.46, 0.94) 0ms;
}
.header__menuObject:hover .header__menuObjectLabel::after{
    transform: scaleX(1);
    opacity: 1;
}
.header__userImage{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.header__authButton{
    background-color: rgba(0,0,0,0.6);
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    transition: all 0.2s ease 0s;
    margin-left: auto;
}
.header__authButton:hover{
    background-color: #f9f9f9;
    color: #000;
    border-color: transparent;
}
.signOut__header{
    position: relative;
    height: 48px;
    width: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.header__dropdown{
    position: absolute;
    top: 48px;
    right: 0px;
    background-color: rgb(19,19,19);
    border: 1px solid rgba(151, 151, 151, 0.34);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 18px 0px;
    padding: 10px;
    font-size: 14px;
    width: 78px;
    opacity: 0;
}
.signOut__header:hover .header__dropdown{
    opacity: 1;
    transition-duration: 1s;
    z-index: 15;
}