.landingPage__slider{
    padding-top: 20px;
}
.landingPage__slider .slick-list{
    overflow: visible;
}
.landingPage__slider ul li button::before{
    font-size: 10px;
    color: rgb(150,158,171);
}
.landingPage__slider li.slick-active button::before{
    color: white;
}
.landingPage__slider button{
    z-index: 1;
}
.slider__slide{
    cursor: pointer;
}
.slider__image{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 40px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    border: 4px solid transparent;
    transition-duration: 300ms;
}
.slider__image:hover{
    border: 4px solid rgba(249, 249, 249, 0.8);
}